ion-toolbar {
    ion-button {
        --color: #fff;

        ion-icon {
            font-size: 33px;
        }
    }

    ion-title {
        font-size: 25px;
    }
}

ion-content {
    --background: url('../../../../assets/imgs/bg-image2.svg') center no-repeat;
}

.green-toolbar {
    --background: #22C55E;
    --color: #fff;
}

.red-toolbar {
    --background: #FF3B30;
    --color: #fff;
}

.orange-toolbar {
    --background: #FDB022;
    --color: #fff;
}

.green {
    background-color: #22C55E;
}

.red {
    background-color: #FF3B30;
}

.orange {
    background-color: #FDB022;
}

.main {
    height: 90vh;
}

.btns {
    div {
        width: calc(100% / 2.3);
    }
}

.my-button {
    --background: var(--theme-light-blue);
}

.selected-btn {
    --background: var(--theme-light-green);
}