<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Select Building</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="selection ion-margin-bottom">

    <div class="morgan ion-text-center">
      <img src="assets/imgs/login/morgan-btn.svg">
    </div>

    <div class="cbre ion-text-center">
      <img src="assets/imgs/login/cbre-btn.svg">
    </div>

    <div class="inter-font select-com ion-text-center">
      Please select building
    </div>
  </div>

  <ion-select label-placement="stacked" [(ngModel)]="building_id" placeholder="Select Building" fill="outline"
    class="ion-margin-bottom" mode="md" interface="popover">
    <div slot="label">Select Building</div>
    <ion-select-option value="" selected>Select Building</ion-select-option>
    @for(p of properties; track p?.property_id){
    <ion-select-option [value]="p?.property_id">{{p?.property_name}}</ion-select-option>
    }
  </ion-select>

  <div class="login-btn ion-margin-top">
    <ion-button expand="block" mode="ios" class="inter-font" (click)="submit()">
      Submit
    </ion-button>
  </div>

</ion-content>