<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" [ngClass]="{
    'green': selected == '0',
    'orange': selected === '1',
    'red': selected === '2',
  }">
    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button [color]="selected ? 'light' : 'dark'" (click)="general.openPopover($event)">
        <ion-icon [name]="!isOpen ? 'menu-outline' : 'close-outline'" class="menu-icon" [color]="selected ? 'light' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>