* {
  font-family: 'Inter', sans-serif;
}

ion-toolbar {
  --min-height: 80px;
  --background: #fff;

  ion-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

  }

  ion-icon{
    font-size: 32px;
  }
}

.blue-bg {
  --background: var(--theme-darkblue);
  --color: #fff;
  --min-height: unset;
}

.green-bg {
  --background: var(--theme-green);
  --color: #fff;
  --min-height: unset;
}

.green {
  --background: #12B76A;
  --color: #fff;
}

.red {
  --background: #FF3B30;
  --color: #fff;
}

.orange {
  --background: #FDB022;
  --color: #fff;
}