* {
  font-family: 'Inter', sans-serif;
}

ion-toolbar {
  --min-height: 80px;
  --background: #fff;

  ion-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

  }
}

.blue-bg {
  --background: var(--theme-darkblue);
  --color: #fff;
  --min-height: unset;
}

.green-bg {
  --background: var(--theme-green);
  --color: #fff;
  --min-height: unset;
}

.green {
  --background: #12B76A;
  --color: #fff;
}

.red {
  --background: #FF3B30;
  --color: #fff;
}

.orange {
  --background: #FDB022;
  --color: #fff;
}

.menu-popover {
  --width: 90%;
  --max-width: 600px;

  ion-item {

    --background: transparent;
    color: #333;

    ion-icon {
      font-size: 20px;
      color: #333;
    }

    ion-label {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .section-header {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  ion-item-divider {
    margin: 8px 0;
    --background: transparent;
    border-bottom: 1px solid #dcdcdc;
  }

  .highlighted {
    background-color: #1D1B201A;
    border-radius: 100px;


    ion-badge {
      background: transparent;
      font-weight: bold;
      border-radius: 10px;
      min-width: 24px;
      text-align: center;
    }
  }

}