<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" [ngClass]="{
    'green-bg': (!selected && user?.company_id === '1' && title == 'history'),
    'blue-bg': (!selected && user?.company_id === '2' && title == 'history'),
    'green': selected == '0',
    'orange': selected === '1',
    'red': selected === '2',
  }">
    <ion-title>{{title == 'history' ? '' : title}}</ion-title>

    @if(showMenu){
    <ion-buttons slot="end">
      <ion-button [color]="selected ? 'light' : 'dark'" (click)="general.openPopover($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>