<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="my-toolbar">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="general.openPopover($event)">
        <ion-icon [name]="!isOpen ? 'menu-outline' : 'close-outline'" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-padding">
    <div class="faceid ion-text-center ion-margin">
      <p class="roboto-font head">
        Emergency procedure
      </p>
    </div>

    <p>
      <b style="color: red;">RED</b> - Significant compliance issues which if left unchecked will have an adverse
      effect on the health and safety performance / management of the site. These health
      and safety issues should be given immediate attention and actions should be
      implemented within the agreed timescale.
      <br />
      <b>(Example: Breach of Statutory
        Obligations or systematic failure of system management system).</b>
    </p>

    <p>
      <b style="color: #FFBF00;">MEDIUM</b> - Less significant issues but still may pose a health and safety or business
      risk to Morgan Stanley.
      <br />
      <b>(Example : Failure to meet documented Policies and
        Procedures or highlighted low compliance scoring by audit mechanisms).</b>
    </p>

    <p>
      <b style="color: green;">GREEN</b> - Good overall compliance of the agreed safety management system
      indicators.
      <br />
      <b> Example : High Compliance scoring by audit mechanisms).</b>
    </p>
  </div>

</ion-content>