.faceid {

    p {
        color: var(--theme-grey);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    .head {
        margin-top: 0;
    }

    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .cap {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
}

.form {
    width: 85%;
    margin: 20px auto 0 auto;

    ::ng-deep .ng-select-container {
        border: 1px solid var(--theme-grey);
        border-radius: 4px;
        line-height: 50px;

        .ng-placeholder {
            color: #000;
            font-size: 12px;
            padding-left: 15px;
        }
    }


    ion-checkbox {
        --size: 18px;
        --border-color: var(--theme-purple);
        --border-color-checked: var(--theme-purple);
        --checkbox-background-checked: #fff;
        --border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
        --checkmark-color: var(--theme-darkblue);
        --checkmark-width: 3px;
    }

    .login-btn {
        margin-top: 30px;

        ion-button {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            --background: var(--theme-light-green);
        }
    }
}