<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <div class="faceid ion-text-center ion-margin" (click)="selectPhoto()">
      <p class="roboto-font">
        Profile
      </p>

      <img [src]="getControl['profile_pic_url'].value || 'assets/imgs/signin/signin.png'" />

      <div class="cap inter-font">
        Tap to upload profile photo
      </div>

      @if(isSubmitted && getControl['profile_pic'].errors){
      @if(getControl['profile_pic'].errors['required']){
      <ion-note color="danger">Profile Picture is required*</ion-note>
      }
      }
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form ion-margin-top">
        <ion-input label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" mode="md"
          formControlName="full_name">
          <div slot="label">Full Name
            @if(isSubmitted && getControl['full_name'].errors){
            @if(getControl['full_name'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-input label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" mode="md"
          formControlName="position">
          <div slot="label">Position
            @if(isSubmitted && getControl['position'].errors){
            @if(getControl['position'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-select label-placement="stacked" fill="outline" class="ion-margin-bottom" formControlName="company_id"
          mode="md" interface="popover">
          <div slot="label">Coompany
            @if(isSubmitted && getControl['company_id'].errors){
            @if(getControl['company_id'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
          <ion-select-option value="" selected>Select Comapny</ion-select-option>
          @for(c of companies; track c?.company_id){
          <ion-select-option [value]="c?.company_id">{{c?.company_name}}</ion-select-option>
          }

        </ion-select>

        <ion-input label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" mode="md"
          formControlName="emergency_role">
          <div slot="label">Emergency Role (if any)</div>
        </ion-input>

        <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md"
          formControlName="email_address" readonly>
          <div slot="label">Email
            @if(isSubmitted && getControl['email_address'].errors){
            @if(getControl['email_address'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            @if(getControl['email_address'].invalid && !getControl['email_address'].errors['required']){
            <ion-note color="danger">(is invalid*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-input label-placement="floating" fill="outline" type="text" class="ion-margin-bottom" mode="md"
          formControlName="mobile_number">
          <div slot="label">Mobile
            @if(isSubmitted && getControl['mobile_number'].errors){
            @if(getControl['mobile_number'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <!-- <div class="ion-margin-bottom">
          <ion-checkbox labelPlacement="end">
            <span class="ion-text-wrap">
              Facial Recognition for faster login
            </span>
          </ion-checkbox>
        </div> -->

        <div class="ion-margin-bottom">
          <ion-checkbox labelPlacement="end" formControlName="terms">
            <span class="ion-text-wrap">
              I agree to Terms of Service and Privacy Policy
            </span>
          </ion-checkbox>
          <div>
            @if(isSubmitted && getControl['terms'].errors){
            @if(getControl['terms'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </div>


        <div class="login-btn">
          <ion-button expand="block" mode="ios" type="submit" class="inter-font">
            Submit
          </ion-button>
        </div>


      </div>
    </form>

    <div class="faceid">
      <p class="roboto-font  ion-text-center">
        Update Password
      </p>

      <div class="form ion-margin-top">
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()" novalidate>
          <ion-input label-placement="floating" fill="outline" type="password" class="ion-margin-bottom" mode="md"
            formControlName="old_password">
            <div slot="label">Old Password
              @if(isPSubmitted && getPassControl['old_password'].errors){
              @if(getPassControl['old_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          <ion-input label-placement="floating" fill="outline" type="password" class="ion-margin-bottom" mode="md"
            formControlName="new_password">
            <div slot="label">Create Password
              @if(isPSubmitted && getPassControl['new_password'].errors){
              @if(getPassControl['new_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          <ion-input label-placement="floating" fill="outline" type="password" class="ion-margin-bottom" mode="md"
            formControlName="confirm_password">
            <div slot="label">Confirm Password
              @if(isPSubmitted && getPassControl['confirm_password'].errors){
              @if(getPassControl['confirm_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          @if(getPassControl['new_password'].value != getPassControl['confirm_password'].value){
          <div class="ion-margin-vertical">
            <ion-note color="danger" style="font-size: 12px;">
              Password Not Matched!
            </ion-note>
          </div>
          }

          @if(isPSubmitted && (getPassControl['new_password'].errors || getPassControl['confirm_password'].errors )){
          <div class="ion-margin-vertical ion-text-left">
            <ion-note color="danger">
              Password should contain at least: <br /> One uppercase letter <br /> One lowercase letter <br /> One
              digit<br /> One
              special character (!&#64;#$%^&amp;*)
            </ion-note>
          </div>
          }

          <div class="login-btn">
            <ion-button expand="block" mode="ios" class="inter-font" type="submit">
              Update Password
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <input type="file" #selfieInput (change)="uploadSelfie($event)" hidden="true" accept="image/*"
    style="visibility: hidden;" />
</ion-content>