<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="my-toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="general.openPopover($event)">
        <ion-icon [name]="!isOpen ? 'menu-outline' : 'close-outline'" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="faceid ion-text-center" (click)="selectPhoto()">
      <img [src]="getControl['profile_pic_url'].value || 'assets/imgs/signin/signin.png'" />

      <div class="cap inter-font">
        Tap to upload or edit profile photo
      </div>

      @if(isSubmitted && getControl['profile_pic'].errors){
      @if(getControl['profile_pic'].errors['required']){
      <ion-note color="danger">Profile Picture is required*</ion-note>
      }
      }
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form ion-margin-top">
        <ion-input labelPlacement="stacked" placeholder="Full Name" fill="outline" type="text" class="ion-margin-bottom"
          mode="md" formControlName="full_name">
          <div slot="label">Full Name
            @if(isSubmitted && getControl['full_name'].errors){
            @if(getControl['full_name'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-select label-placement="stacked" fill="outline" class="ion-margin-bottom" formControlName="company_id"
          mode="md" interface="popover" placeholder="Select Comapny">
          <div slot="label">Company
            @if(isSubmitted && getControl['company_id'].errors){
            @if(getControl['company_id'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
          @for(c of companies; track c?.company_id){
          <ion-select-option [value]="c?.company_id">{{c?.company_name}}</ion-select-option>
          }

        </ion-select>

        <ion-select label-placement="stacked" fill="outline" class="ion-margin-bottom" formControlName="position"
          mode="md" interface="popover" placeholder="Select Position">
          <div slot="label">Position
            @if(isSubmitted && getControl['position'].errors){
            @if(getControl['position'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
          @for(p of positions; track p?.name){
          <ion-select-option [value]="p?.value">{{p?.name}}</ion-select-option>
          }
        </ion-select>

        <ion-select label-placement="stacked" fill="outline" class="ion-margin-bottom" formControlName="employment_role"
          mode="md" interface="popover" placeholder="Employment Role">
          <div slot="label">Employment Role
            @if(isSubmitted && getControl['employment_role'].errors){
            @if(getControl['employment_role'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
          @for(p of employmentRoles; track p?.id){
          <ion-select-option [value]="p?.id">{{p?.name}}</ion-select-option>
          }
        </ion-select>

        @if(profileForm.value.employment_role == 'other'){
        <ion-input labelPlacement="stacked" placeholder="Enter Employment Role" fill="outline" type="text"
          class="ion-margin-bottom" mode="md" formControlName="employment_role_name">
          <div slot="label">Enter Employment Role
            @if(isSubmitted && profileForm.value.employment_role == 'other'){
            @if(profileForm.value.employment_role_name == ''){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>
        }

        <ion-select label-placement="stacked" fill="outline" class="ion-margin-bottom" formControlName="user_shift"
          mode="md" interface="popover" placeholder="Select Shift">
          <div slot="label">User Shift
            @if(isSubmitted && getControl['user_shift'].errors){
            @if(getControl['user_shift'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
          @for(s of shifts; track s?.name){
          <ion-select-option [value]="s?.value">{{s?.name}}</ion-select-option>
          }
        </ion-select>

        <div class="ion-margin-vertical custom-select">
          <label [ngClass]="{'selected' : profileForm.value.emergency_role}">Key Role (if any)</label>
          <ng-select placeholder="Key Role (if any)" formControlName="emergency_role" [multiple]="true" [closeOnSelect]="false" [searchable]="false">
            @for(r of emergencyRoles; track r?.id){
            <ng-option [value]="r?.id">
              <div class="d-flex align-items-center" style="gap: 20px">
                <div>
                  <img [src]="r?.emergency_logo" style="width: 25px; height: 25px; object-fit: contain;" />
                </div>
                <div>
                  {{r?.name}}
                </div>
              </div>
            </ng-option>
            }
          </ng-select>
        </div>

        <ion-input labelPlacement="stacked" placeholder="Email" fill="outline" type="email" class="ion-margin-bottom"
          mode="md" formControlName="email_address" readonly>
          <div slot="label">Email
            @if(isSubmitted && getControl['email_address'].errors){
            @if(getControl['email_address'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            @if(getControl['email_address'].invalid && !getControl['email_address'].errors['required']){
            <ion-note color="danger">(is invalid*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-input labelPlacement="stacked" placeholder="Mobile" fill="outline" type="text" class="ion-margin-bottom"
          mode="md" formControlName="mobile_number">
          <div slot="label">Mobile
            @if(isSubmitted && getControl['mobile_number'].errors){
            @if(getControl['mobile_number'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <!-- <div class="ion-margin-bottom">
          <ion-checkbox labelPlacement="end">
            <span class="ion-text-wrap">
              Facial Recognition for faster login
            </span>
          </ion-checkbox>
        </div> -->

        <div class="ion-margin-bottom">
          <ion-checkbox labelPlacement="end" formControlName="terms">
            <span class="ion-text-wrap">
              I agree to <a [routerLink]="['/terms']" (click)="$event.stopPropagation()">Terms of Service and Privacy
                Policy</a>
            </span>
          </ion-checkbox>
          <div>
            @if(isSubmitted && getControl['terms'].errors){
            @if(getControl['terms'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </div>


        <div class="login-btn">
          <ion-button expand="block" mode="ios" type="submit" class="inter-font">
            Submit
          </ion-button>
        </div>


      </div>
    </form>

    <div class="faceid">
      <p class="roboto-font  ion-text-center">
        Update Password
      </p>

      <div class="form ion-margin-top">
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()" novalidate>
          <ion-input labelPlacement="stacked" placeholder="Old Password" fill="outline" type="password"
            class="ion-margin-bottom" mode="md" formControlName="old_password">
            <div slot="label">Old Password
              @if(isPSubmitted && getPassControl['old_password'].errors){
              @if(getPassControl['old_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          <ion-input labelPlacement="stacked" placeholder="Create Password" fill="outline" type="password"
            class="ion-margin-bottom" mode="md" formControlName="new_password">
            <div slot="label">Create Password
              @if(isPSubmitted && getPassControl['new_password'].errors){
              @if(getPassControl['new_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          <ion-input labelPlacement="stacked" placeholder="Confirm Password" fill="outline" type="password"
            class="ion-margin-bottom" mode="md" formControlName="confirm_password">
            <div slot="label">Confirm Password
              @if(isPSubmitted && getPassControl['confirm_password'].errors){
              @if(getPassControl['confirm_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          @if(getPassControl['new_password'].value != getPassControl['confirm_password'].value){
          <div class="ion-margin-vertical">
            <ion-note color="danger" style="font-size: 12px;">
              Password Not Matched!
            </ion-note>
          </div>
          }

          @if(isPSubmitted && (getPassControl['new_password'].errors || getPassControl['confirm_password'].errors )){
          <div class="ion-margin-vertical ion-text-left">
            <ion-note color="danger">
              Password should contain at least: <br /> One uppercase letter <br /> One lowercase letter <br /> One
              digit<br /> One
              special character (!&#64;#$%^&amp;*)
            </ion-note>
          </div>
          }

          <div class="login-btn">
            <ion-button expand="block" mode="ios" class="inter-font" type="submit">
              Update Password
            </ion-button>
          </div>
        </form>
      </div>
    </div>

    <div class="faceid">
      <p class="roboto-font ion-text-center">
        Delete Account
      </p>

      <div class="form ion-margin-top">
        <div class="ion-margin-vertical ion-text-left">
          <ion-note color="danger">
            Are you sure you want to delete your account? This action is permanent and will remove all your data,
            including personal information, saved content, and activity history. This cannot be undone.
          </ion-note>
        </div>

        <div class="login-btn">
          <ion-button expand="block" mode="ios" class="inter-font" color="danger" (click)="isDeleteOpen = true">
            Confirm Delete
          </ion-button>
        </div>

      </div>
    </div>
  </div>

  <ion-alert [isOpen]="isDeleteOpen" header="Warning!" subHeader="This action is irreversible!"
    message="Are you sure you want to delete your account?" [buttons]="alertButtons"
    (didDismiss)="isDeleteOpen = false"></ion-alert>

  <input type="file" #selfieInput (change)="uploadSelfie($event)" hidden="true" accept="image/*"
    style="visibility: hidden;" />
</ion-content>