.faceid {

    p {
        color: var(--theme-grey);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    .head {
        margin-top: 0;
    }

    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .initials {
        width: 100px;
        height: 100px;
        font-size: 32px;
        color: #fff;
        margin: 5px auto;
        border-radius: 5px;
    }

    .cap {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
}

.form {
    width: 85%;
    margin: 20px auto 0 auto;

    ion-checkbox {
        --size: 18px;
        --border-color: var(--ion-color-dark);
        --checkbox-background-checked: #fff;
        --border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
        --checkmark-color: var(--ion-color-dark);
        --checkmark-width: 3px;
    }

    .login-btn {
        margin-top: 30px;

        ion-button {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }
}