.selection {

    .morgan {
        // background-image: url('../../../assets/imgs/login/morgan-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;

    }

    .cbre {
        // background-image: url('../../../assets/imgs/login/cbre-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;
        border-radius: 20px;
    }

    img {
        border-radius: 10px;
        height: 48px;
    }

    .select-com {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

}

.login-btn {
    ion-button {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        --background: var(--theme-light-green);
    }
}