
ion-toolbar{
    ion-back-button{
        color: #000;
    }
}

.faceid {

    p {
        color: var(--theme-grey);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .cap {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
}

.form {
    width: 85%;
    margin: 20px auto 0 auto;

    ::ng-deep .ng-select-container {
        border: 1px solid var(--theme-grey);
        border-radius: 4px;
        line-height: 50px;

        .ng-placeholder {
            color: #000;
            font-size: 12px;
            padding-left: 15px;
        }
    }

    .custom-select {
        position: relative;

        label {
            position: absolute;
            z-index: 10;
            font-size: 12px;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            transition: all 0.2s ease-in-out;
            pointer-events: none;
        }

        &:focus-within label {
            background-color: #fff;
            top: 0;
            transform: translateY(1) scale(0.85);
            color: #000;
            /* Example: change color to indicate active state */
            font-size: 10px;
            padding-left: 5px;
            z-index: 99999999999;
        }

        .selected {
            background-color: #fff;
            top: 0;
            transform: translateY(1) scale(0.85);
            color: #000;
            /* Example: change color to indicate active state */
            font-size: 10px;
            padding-left: 5px;
            z-index: 99999999999;
        }
    }

    ion-checkbox {
        --border-color: var(--ion-color-dark);
        --checkbox-background-checked: #fff;
        --border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
        --checkmark-color: var(--ion-color-dark);
        --checkmark-width: 3px;
    }

    .login-btn {
        margin-top: 50px;

        ion-button {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }
}