<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="ion-padding">
    <div class="ion-text-center img-box">
      <div class="upload d-flex align-items-center justify-content-center">
        <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
        <img src="assets/icon/favicon.png">
      </div>

      <p class="myp">Tap to upload profile photo</p>
    </div>

    <div class="form ion-margin-top">
      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Full Name</div>
      </ion-input>

      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Position</div>
      </ion-input>

      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Company</div>
      </ion-input>

      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Emergency Role (if any)</div>
      </ion-input>

      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Email</div>
      </ion-input>

      <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
        <div slot="label">Mobile</div>
      </ion-input>

      <div class="ion-margin-bottom">
        <ion-checkbox labelPlacement="end">
          <span class="ion-text-wrap">
            Facial Recognition for faster login
          </span>
        </ion-checkbox>
      </div>

      <div class="ion-margin-bottom">
        <ion-checkbox labelPlacement="end">
          <span class="ion-text-wrap">
            I agree to Terms of Service and Privacy Policy
          </span>
        </ion-checkbox>
      </div>

      <div>
        <ion-button expand="block" mode="ios" [routerLink]="['/signuppreview']">
          Submit
        </ion-button>
      </div>


    </div>
  </div>
</ion-content>