.img-box {
    margin-top: 70px;
    margin-bottom: 50px;

    .upload {
        border: 1px solid lightgrey;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }

        ion-icon {
            font-size: 30px;
            color: grey;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .myp {
        font-size: 12px;
    }
}