ion-toolbar {
    ion-back-button {
        font-size: 20px;
        color: #000;
    }

    ion-title {
        font-size: 25px;
    }
}

.main-box {
    .faceid {
        p {
            color: var(--theme-grey);
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        .cap {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
    }

    .form {

        ion-checkbox {
            --size: 18px;
            --border-color: var(--theme-purple);
            --checkbox-background-checked: #fff;
            --border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: var(--theme-grey);
            --checkmark-color: var(--theme-darkblue);
            --checkmark-width: 3px;
        }

        .login-btn {
            margin-top: 30px;

            ion-button {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                --background: var(--theme-light-green);
            }
        }
    }
}

.cam-btn {
    ion-button {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        --background: var(--theme-light-green);
    }
}

.cam-modal {
    .camera-container {
        position: relative;

        video,
        canvas {
            max-width: 600px;
            width: 100%;
            height: 350px;
            transform: scaleX(-1);
            position: absolute;
            left: 0;
            right: 0;
            margin-inline: auto;
        }
    }

    ion-fab {
        ion-fab-button {
            display: inline-block !important
        }
    }

}