ion-toolbar {
    ion-back-button {
        font-size: 20px;
        color: #000;
    }

    ion-title {
        font-size: 25px;
    }
}

ion-checkbox {
    --size: 25px;
    --border-color: var(--ion-color-dark);
    --checkbox-background-checked: #fff;
    --border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--theme-grey);
    --checkmark-color: var(--ion-color-dark);
    --checkmark-width: 3px;
}