ion-content {
    --background: url('../../../../assets/imgs/bg-image.svg') center no-repeat;
}

.green-toolbar {
    --background: #22C55E;
    --color: #fff;
}

.red-toolbar {
    --background: #FF3B30;
    --color: #fff;
}

.orange-toolbar {
    --background: #FDB022;
    --color: #fff;
}

.green {
    background-color: #22C55E;
}

.red {
    background-color: #FF3B30;
}

.orange {
    background-color: #FDB022;
}

ion-select {
    background: #fff;
    color: #000;
    --highlight-color: #fff;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.main-box {
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .user {
        .img-box {
            .upload {
                margin: 0 auto;

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 120px;
                    height: 120px;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }
        }

        .name {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }

        .myp {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
        }
    }

    .arrow-icon {
        color: #fff;

        .arrow-bg {
            margin: 0 auto;
            background-color: #fff;
            border-radius: 50%;
            width: 148px;
            height: 148px;
            border: 15px solid;

            ion-icon {
                font-size: 120px;
            }

            box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            transition: transform 0.5s ease;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                border-radius: 50%;
                background: inherit;
                opacity: 0.5;
                z-index: -1;
                animation: btn-pulse 2s infinite;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid white;
                border-radius: 50%;
                opacity: 0;
                animation: zoom-border 2s infinite;
            }

            @keyframes btn-pulse {
                0% {
                    transform: scale(0.8);
                    opacity: 0.7;
                }

                70% {
                    transform: scale(1.2);
                    opacity: 0;
                }

                100% {
                    transform: scale(1.2);
                    opacity: 0;
                }
            }

            @keyframes zoom-border {
                0% {
                    transform: scale(1);
                    opacity: 1;
                }

                100% {
                    transform: scale(1.5);
                    opacity: 0;
                }
            }
        }

        .arrow-green {
            color: #22C55E;
            border-color: #22C55E;
        }

        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }

    .check-icon {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        img {
            width: 148px;
            height: 118px;
            object-fit: contain;
        }


    }
}

.icon-pulse {
    display: inline-block;
    animation: iconPulse 2s infinite;
}

@keyframes iconPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .main-box {
        flex-direction: column;
        height: calc(75%);

        .user {
            .img-box {
                .upload {

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }

        .arrow-icon {


            .arrow-bg {

                width: 108px;
                height: 108px;

                ion-icon {
                    font-size: 80px;
                }
            }
        }

        .check-icon {
            img {
                width: 80px;
                height: 80px;
            }
        }

    }
}