ion-content {
  --background: url('../../../assets/imgs/bg-image.svg') center no-repeat;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 44px;
  border-radius: 8px;

}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  padding: 10px 15px;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input{
    height: 35px;
}


.select-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.green {
  background-color: #22C55E;
}

.red {
  background-color: #FF3B30;
}

.orange {
  background-color: #FDB022;
}

.lock-icon {
  margin: 60px 0 120px 0;
  color: #fff;

  ion-icon {
    font-size: 50px;
  }
}

.arrow-icon {
  margin: 70px;
  color: #fff;

  .arrow-bg {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    width: 148px;
    height: 148px;
    border: 15px solid;
    position: relative;

    ion-icon {
      font-size: 120px;
    }
  }

  .arrow-green {
    color: #22C55E;
    border-color: #22C55E;

    &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -20px;
            right: -20px;
            bottom: -20px;
            border-radius: 50%;
            background: inherit;
            opacity: 0.5;
            z-index: -1;
            animation: btn-pulse 2s infinite;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid white;
            border-radius: 50%;
            opacity: 0;
            animation: zoom-border 2s infinite;
        }

        @keyframes btn-pulse {
            0% {
                transform: scale(0.8);
                opacity: 0.7;
            }

            70% {
                transform: scale(1.2);
                opacity: 0;
            }

            100% {
                transform: scale(1.2);
                opacity: 0;
            }
        }

        @keyframes zoom-border {
            0% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(1.5);
                opacity: 0;
            }
        }
  }

  .arrow-red {
    color: #FF3B30;
    border-color: #FF3B30;
  }

  .arrow-orange {
    color: #FDB022;
    border-color: #FDB022;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }

}

.logo-box {
  margin-top: 428px;
  width: 131px;
  height: 131px;
}
