<app-header [selected]="selectedCar.status" [showMenu]="true"></app-header>

<ion-content [ngClass]="selectedCar ? selectedCar.status : ''" class="ion-padding">

  <div>
    <ng-select (change)="changeLocation($event)" placeholder="Start typing to search...">
      @for (car of cars; track car.id) {
      <ng-option [value]="car"> <span class="select-status" [ngClass]="car.status"></span> {{car.name}}</ng-option>
      }
    </ng-select>
  </div>

  <div class="ion-text-center lock-icon">
    <ion-icon name="lock-open-outline"></ion-icon>
  </div>


  @if(selectedCar.status){
  <div class="ion-text-center arrow-icon">
    <div class="arrow-bg d-flex align-items-center justify-content-center" [ngClass]="'arrow-'+selectedCar.status">
      <ion-icon name="arrow-forward-circle-outline" [ngClass]="'arrow-'+selectedCar.status"></ion-icon>
    </div>

    <div class="text inter-font">
      All systems operational.
    </div>
  </div>
  }@else{
  <div class="logo-box">
    <img src="assets/imgs/home/cbre.svg">
  </div>
  }


</ion-content>
