<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Select Location</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-select interface="popover" label="Select Location" label-placement="floating" fill="outline">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </div>
  
</ion-content>
