<app-header [selected]="selectedCar.status"></app-header>

<ion-content [ngClass]="selectedCar ? selectedCar.status : ''">

  <div class="ion-padding">
    <ng-select [(ngModel)]="selectedCar" (change)="changeLocation($event)">
      @for (car of cars; track car.id) {
      <ng-option [value]="car"> <span class="status" [ngClass]="car.status"></span> {{car.name}}</ng-option>
      }
    </ng-select>
  </div>

  <div class="ion-text-center lock-icon">
    <ion-icon name="lock-open-outline"></ion-icon>
  </div>


  <div class="ion-text-center arrow-icon">
    <ion-icon name="arrow-forward-circle"></ion-icon>
    <div>
      All systems operational.
    </div>
  </div>

</ion-content>