ion-content {
  --background: url('../../../assets/imgs/bg-image.svg') center no-repeat;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 44px;
}


.select-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: #12B76A;
}

.red {
  background-color: #FF3B30;
}

.orange {
  background-color: #FDB022;
}

.lock-icon {
  margin: 60px 0 120px 0;
  color: #fff;

  ion-icon {
    font-size: 50px;
  }
}

.arrow-icon {
  margin: 70px;
  color: #fff;

  .arrow-bg {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    width: 148px;
    height: 148px;
    border: 15px solid;

    ion-icon {
      font-size: 120px;
    }
  }

  .arrow-green {
    color: #12B76A;
    border-color: #12B76A;
  }

  .arrow-red {
    color: #FF3B30;
    border-color: #FF3B30;
  }

  .arrow-orange {
    color: #FDB022;
    border-color: #FDB022;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }

}

.logo-box {
  margin-top: 380px;
  width: 131px;
  height: 131px;
}
