<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Edit" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-text-center img-box">
      <div class="upload d-flex align-items-center justify-content-center">
        <img [src]="profile?.profile_pic_url || 'assets/icon/favicon.png'">
      </div>

      <h4 class="inter-font">{{profile?.full_name}}</h4>
      <div class="myp">{{profile?.email_address}}</div>
    </div>


    <div class="detail-box ion-margin-bottom">
      <p class="ion-margin inter-font">
        Personal details
      </p>

      <div class="details ion-padding-horizontal">

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key inter-font">
            Full Name:
          </div>
          <div class="value inter-font">
            {{profile?.full_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Company:
          </div>
          <div class="value">
            {{profile?.company_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Position:
          </div>
          <div class="value">
            {{profile?.position_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Employment Role:
          </div>
          <div class="value">
            {{profile?.employment_name}}
          </div>
        </div>


        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Shift:
          </div>
          <div class="value">
            {{profile?.shift_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Key Role:
          </div>
          <div class="value">
            {{profile?.emergency_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Email:
          </div>
          <div class="value">
            {{profile?.email_address}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item inter-font">
          <div class="key">
            Mobile:
          </div>
          <div class="value">
            {{profile?.mobile_number}}
          </div>
        </div>

      </div>
    </div>

    <div class="form ion-margin-top">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="ion-margin-bottom">
          <ion-input labelPlacement="stacked" placeholder="Create Password" fill="outline" type="password" mode="md" formControlName="password">
            <div slot="label">Create Password
              @if(isSubmitted && getControl['password'].errors){
              @if(getControl['password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>
          <ion-note style="margin-left: 10px">
            Minimum 10 characters
          </ion-note>
        </div>

        <ion-input labelPlacement="stacked" placeholder="Confirm Password" fill="outline" type="password" class="ion-margin-bottom" mode="md"
          formControlName="confirm_password">
          <div slot="label">Confirm Password
            @if(isSubmitted && getControl['confirm_password'].errors){
            @if(getControl['confirm_password'].errors['required']){
            <ion-note color="danger">
              is required*
            </ion-note>
            }
            }
          </div>
        </ion-input>

        @if(getControl['password'].value != getControl['confirm_password'].value){
        <div class="ion-margin-vertical">
          <ion-note color="danger" style="font-size: 12px;">
            Password Not Matched!
          </ion-note>
        </div>
        }

        @if(isSubmitted && (getControl['password'].errors || getControl['confirm_password'].errors )){
        <div class="ion-margin-vertical">
          <ion-note color="danger">
            Password should contain at least: <br /> One uppercase letter <br /> One lowercase letter <br /> One
            digit<br /> One
            special character (!&#64;#$%^&amp;*)
          </ion-note>
        </div>
        }

        <div class="login-btn">
          <ion-button expand="block" mode="ios" class="inter-font" type="submit">
            Save
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>