ion-toolbar {
    --background: #fff;

    ion-title {
        --color: var(--theme-grey);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }
}

.img-box {
    margin-top: 10px;
    margin-bottom: 25px;

    .upload {
        border: 1px solid lightgrey;
        width: 93px;
        height: 93px;
        margin: 0 auto;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }

        h4 {
            /* David Thompson */
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

        }

        ion-icon {
            font-size: 30px;
            color: grey;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .myp {
        /* davidthompson@morgans.com */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
    }
}

.detail-box {
    width: 92%;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid #E9EAEB;
    border-radius: 11px 11px 0px 0px;
    background-color: #FAFAFA;

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border-bottom: 1px solid #E9EAEB;
        line-height: 50px;
        margin: 0 16px;
    }

    .details {
        background-color: #FDFDFD;

        .item {
            border-bottom: 1px solid #E9EAEB;
            height: 40px;

            .key {
                width: 50%;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;

            }

            .value {
                width: 50%;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

}

.form {
    width: 85%;
    margin: 20px auto 0 auto;

    ion-note {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
    }

    .login-btn {
        margin-top: 30px;

        ion-button {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            --background: var(--theme-light-green);
        }
    }
}