.img-box {
    margin-top: 10px;
    margin-bottom: 50px;

    .upload {
        border: 1px solid lightgrey;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }

        ion-icon {
            font-size: 30px;
            color: grey;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .myp {
        font-size: 12px;
    }
}

.detail-box {
    h3 {
        background-color: lightgrey;
        height: 40px;
        vertical-align: middle;
        line-height: 40px;
        text-indent: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .details {
        .item {
            .key {
                width: 50%;
            }

            .value {
                width: 50%;
                font-weight: bold;
            }
        }
    }


}