<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="ion-text-center img-box">
      <div class="upload d-flex align-items-center justify-content-center">
        <img [src]="profile?.profile_pic_url || 'assets/icon/favicon.png'">
      </div>

      <h4 class="inter-font">{{profile?.full_name}}</h4>
      <div class="myp">{{profile?.email_address}}</div>
    </div>


    <div class="detail-box">
      <p class="ion-margin inter-font">
        Personal details
      </p>

      <div class="details ion-margin-horizontal">

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key inter-font">
            Full Name:
          </div>
          <div class="value inter-font">
            {{profile?.full_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Position:
          </div>
          <div class="value">
            {{profile?.position}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Company:
          </div>
          <div class="value">
            {{profile?.company_name}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Emergency Role:
          </div>
          <div class="value">
            {{profile?.emergency_role}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Email:
          </div>
          <div class="value">
            {{profile?.email_address}}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item inter-font">
          <div class="key">
            Mobile:
          </div>
          <div class="value">
            {{profile?.mobile_number}}
          </div>
        </div>

      </div>


      <div class="form ion-margin-top">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
          <ion-input label-placement="floating" fill="outline" type="password" class="ion-margin-bottom" mode="md"
            formControlName="password">
            <div slot="label">Create Password
              @if(isSubmitted && getControl['password'].errors){
              @if(getControl['password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          <ion-input label-placement="floating" fill="outline" type="password" class="ion-margin-bottom" mode="md"
            formControlName="confirm_password">
            <div slot="label">Confirm Password
              @if(isSubmitted && getControl['confirm_password'].errors){
              @if(getControl['confirm_password'].errors['required']){
              <ion-note color="danger">
                is required*
              </ion-note>
              }
              }
            </div>
          </ion-input>

          @if(getControl['password'].value != getControl['confirm_password'].value){
          <div class="ion-margin-vertical">
            <ion-note color="danger" style="font-size: 12px;">
              Password Not Matched!
            </ion-note>
          </div>
          }

          @if(isSubmitted && (getControl['password'].errors || getControl['confirm_password'].errors )){
          <div class="ion-margin-vertical">
            <ion-note color="danger">
              Password should contain at least: <br /> One uppercase letter <br /> One lowercase letter <br /> One
              digit<br /> One
              special character (!&#64;#$%^&amp;*)
            </ion-note>
          </div>
          }

          <div class="login-btn">
            <ion-button expand="block" mode="ios" class="inter-font" type="submit">
              Save
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>