<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="ion-text-center img-box">
      <div class="upload d-flex align-items-center justify-content-center">
        <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
        <img src="assets/icon/favicon.png">
      </div>

      <h4 class="inter-font">David Thompson</h4>
      <p class="inter-font myp">Tap to upload profile photo</p>
    </div>


    <div class="detail-box">
      <p class="ion-margin inter-font">
        Personal details
      </p>

      <div class="details ion-margin-horizontal">

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key inter-font">
            Full Name:
          </div>
          <div class="value inter-font">
            David Thompson
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Position:
          </div>
          <div class="value">
            Site Manager
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Company:
          </div>
          <div class="value">
            Morgan Stanley
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Emergency Role:
          </div>
          <div class="value">
            David Thompson
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item">
          <div class="key">
            Email:
          </div>
          <div class="value">
            davidthomp_gmail.com
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-between item inter-font">
          <div class="key">
            Mobile:
          </div>
          <div class="value">
            0789456123
          </div>
        </div>

      </div>


      <div class="form ion-margin-top">
        <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
          <div slot="label">Create Password</div>
        </ion-input>

        <ion-input label-placement="floating" fill="outline" type="email" class="ion-margin-bottom" mode="md">
          <div slot="label">Confirm Password</div>
        </ion-input>


        <div class="login-btn">
          <ion-button expand="block" mode="ios" class="inter-font">
            Save
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>