// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --theme-grey: #717680;

    --theme-darkblue: #002C51;
    --theme-light-blue: #11AFD5;

    --theme-green: #016648;
    --theme-light-green: #59DB59;

    --theme-purple: #6750a4;
}