.main {
    background: url('../../../assets/imgs/splash/splash.png');
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 0 auto;
}