.selection{
    margin-top: 50px;
    .morgan{
        background-color: navy;
        color: #fff;
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
        width: 80%;
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
    }

    .cbre{
        background-color: green;
        color: #fff;
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
        width: 80%;
        margin: 20px auto;
        font-size: 20px;
        font-weight: bold;
    }
   
}

.form{
    margin-top: 50px;

    .or{
        margin-top: 25px;
    }
}