.faceid {
    margin-top: 50px;

    p {
        color: var(--theme-grey);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }

    .cap {
        margin-top: 10px;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
}

.selection {

    .morgan {
        // background-image: url('../../../assets/imgs/login/morgan-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;

    }

    .cbre {
        // background-image: url('../../../assets/imgs/login/cbre-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;
        border-radius: 20px;
    }

    img {
        border-radius: 10px;
        height: 48px;
    }

    .select-com {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

}

.form {
    width: 85%;
    margin: 50px auto 0 auto;

    .forget {
        ion-button {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            --padding-end: 0;
        }
    }

    ion-checkbox {
        --border-color: var(--ion-color-dark);
        --checkbox-background-checked: #fff;
        --border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
        --checkmark-color: var(--ion-color-dark);
        --checkmark-width: 3px;
    }

    .no-account {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        ion-button {
            --padding-start: 2px;
            font-size: 12px;
        }
    }

}

.login-btn {
    ion-button {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
}

.guest-btn {
    ion-button {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
}


.forgetPasswordModal {
    .heading {

        font-size: 22px;

        .sub-heading {
            margin-top: 10px;
            font-size: 16px;
            color: #6F6F6F;
        }
    }

    .send-btn {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;

    }
}