<ion-content>

  <div class="ion-padding">

    <div class="faceid ion-text-center ion-margin" (click)="performBiometricVerification()">
      <p class="roboto-font">
        Sign In
      </p>

      <img src="assets/imgs/login/faceid.png" />

      <div class="cap inter-font">
        Face ID
      </div>
    </div>

    <div class="selection ion-margin-bottom">

      <div class="morgan ion-text-center">
        <img src="assets/imgs/login/morgan-btn.png">
      </div>

      <div class="cbre ion-text-center">
        <img src="assets/imgs/login/cbre-btn.png">
      </div>

      <div class="inter-font select-com ion-text-center">
        Please select company
      </div>
    </div>

    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-input labelPlacement="stacked" placeholder="Email" fill="outline" type="email" class="ion-margin-bottom" mode="md"
          formControlName="email_address">
          <div slot="label">Email
            @if(isSubmitted && getControl['email_address'].errors){
            @if(getControl['email_address'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            @if(getControl['email_address'].invalid && !getControl['email_address'].errors['required']){
            <ion-note color="danger">(is invalid*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <ion-input labelPlacement="stacked" placeholder="Password" fill="outline" type="password" mode="md" formControlName="password">
          <div slot="label">Password
            @if(isSubmitted && getControl['password'].errors){
            @if(getControl['password'].errors['required']){
            <ion-note color="danger">(is required*)</ion-note>
            }
            }
          </div>
        </ion-input>

        <div class="ion-text-right forget">
          <ion-button fill="clear" size="small" mode="ios" class="inter-font" (click)="forgetPasswordModal = true">
            Forgotton Password?
          </ion-button>
        </div>

        <div class="ion-margin-bottom">
          <ion-checkbox labelPlacement="end" class="inter-font">Remember me</ion-checkbox>
        </div>

        <div class="d-flex align-items-center ion-margin-top justify-content-center no-account inter-font">
          Dont have an account?
          <ion-button fill="clear" mode="ios" [routerLink]="['/signup']">
            Sign Up
          </ion-button>
        </div>


        <div class="login-btn">
          <ion-button expand="block" mode="ios" type="submit" class="inter-font">
            Sign In
          </ion-button>
        </div>
      </form>

    </div>
  </div>


  <ion-alert [isOpen]="isBiometricSaveOpen" header="Biometric Authentication" subHeader="Enable Quick Login"
    message="Would you like to save your login details and enable biometric authentication for faster and more secure access next time?"
    [buttons]="alertButtons" (didDismiss)="isBiometricSaveOpen = false"></ion-alert>

  <ion-modal class="forgetPasswordModal" [isOpen]="forgetPasswordModal" (willDismiss)="forgetPasswordModal = false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start" (click)="forgetPasswordModal = false">
            <ion-icon color="dark" slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <div class="heading">
          Forgot password
          <div class="sub-heading">
            We will send you an email for your password
          </div>
        </div>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSibmitForgetForm()" novalidate>
          <div class="ion-margin-vertical ion-padding-top">
            <ion-input labelPlacement="stacked" placeholder="Email" mode="md" fill="outline" type="email" placeholder="Enter email" formControlName="email_address">
              <div slot="label">Email
                @if(forgetPasswordSubmitted && forgetPasswordControls['email_address'].errors){
                @if(forgetPasswordControls['email_address'].errors['required']){
                <ion-text color="danger">
                  (is required*)
                </ion-text>
                }
                @if(forgetPasswordControls['email_address'].invalid && !forgetPasswordControls['email_address'].errors['required']){
                <ion-text color="danger">
                  (is invalid*)
                </ion-text>
                }
                }

              </div>
            </ion-input>            
          </div>

          <div class="login-btn">
            <ion-button mode="ios" expand="block" type="submit" class="inter-font">
              Send code
            </ion-button>
          </div>

        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>