
.blue-bg {
  --background: var(--theme-darkblue);
}

.green-bg {
  --background: var(--theme-green);
}

.search-card {
  color: #fff;

  ion-searchbar {
    --background: #fff;
    --border-radius: 8px;
    padding: 0;

    ::ng-deep .searchbar-input-container {
      height: 44px !important;
    }
  }

}

.date-filter-row {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ion-button {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    border-radius: 8px;
  }

}

.date-popover{
  --min-width	: 300px;
}

.history-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #181D27;
}

ion-item {

  ion-label {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #181D27;

    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #535862;
    }
  }

  .time-note {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #535862;
  }
}