ion-content {
  --background: url('../../../assets/imgs/bg-image.svg') center no-repeat;
}

.check {
  margin: 83px 0 27px 0;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

  }
}

.toggle {
  div {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--theme-grey);
  }

  .enable {
    color: var(--theme-light-green);
  }
}

.check2 {
  margin: 27px 0 84px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

.box {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px #000;

  .cls-btn {

    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 5;

    ion-icon {
      color: #000;
      font-size: 20px;
    }
  }

  .icon {
    font-size: 20px;
  }

  .d-flex {
    align-items: flex-start;

    p {
      padding-left: 10px;
      margin: 0 0 5px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #20232C;
    }

    .text {
      padding-left: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

  }
}

.logo-box {
  margin-top: 80px;
  width: 131px;
  height: 131px;
}

.status-box {
  margin-top: 100px;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;


  ion-checkbox {
    --border-color: #00BC2F;
    --checkbox-background-checked: #00BC2F;
    --checkmark-color: #fff;
    --border-radius: 4px;
    font-weight: 600;

  }
}
