ion-content {
  --background: url('../../../assets/imgs/bg-image.svg') center no-repeat;
}

.check {
  margin: 83px 0 27px 0;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

  }
}

.toggle {
  div {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--theme-grey);
  }

  .enable {
    color: var(--theme-light-green);
  }
}

.check2 {
  margin: 27px 0 100px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

.box {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px #000;

  .cls-btn {

    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5;

    ion-icon {
      color: #000;
      font-size: 20px;
    }
  }

  .icon {
    color: var(--ion-color-success);
    font-size: 20px;
  }

  .d-flex {
    align-items: flex-start;

    p {
      padding-left: 10px;
      margin: 0 0 5px 0;
      font-size: 16px;
      font-weight: bold;
    }

    .text {
      padding-left: 10px;
    }

  }
}

.logo-box {
  margin-top: 80px;
}

.status-box {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  gap: 15px;
}