<ion-content class="ion-padding">


  <div class="check ion-text-center">
    <h2 class="inter-font">Auto Check-in with <br /> Geo-Fencing</h2>
  </div>


  <div class="d-flex align-items-center justify-content-evenly ion-margin-vertical ion-padding toggle inter-font">
    <div>
      Disabled
    </div>
    <div>
      <ion-toggle mode="ios"></ion-toggle>
    </div>
    <div class="enable">
      Enabled
    </div>
  </div>


  <div class="inter-font check2 ion-text-center">
    Automatically log you in and out based on location.
  </div>

  <div class="box ion-padding">
    <div class="cls-btn">
      <ion-icon name="close"></ion-icon>
    </div>

    <div class="d-flex">
      <div class="icon">
        <ion-icon name="alert-circle"></ion-icon>
      </div>

      <div>
        <p>
          Auto Check-in with Geo-Fencing
        </p>

        <div class="text">
          Geo-fencing will track your location in the background to detect entry and exit from the building.
        </div>

      </div>
    </div>

  </div>

  <div class="logo-box">
    <img src="https://placehold.co/150">
  </div>


  <div class="status-box ion-text-center d-flex justify-content-center ion-margin-bottom">
    <div>
      Status:
    </div>

    <div>
      <ion-checkbox color="success" mode="md" labelPlacement="end"><b>Checked Out</b></ion-checkbox>
    </div>
  </div>
</ion-content>