.selection {
    margin-top: 50px;

    .morgan {
        // background-image: url('../../../assets/imgs/login/morgan-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;

    }

    .cbre {
        // background-image: url('../../../assets/imgs/login/cbre-btn.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        width: 85%;
        height: 48px;
        margin: 16px auto;
        border-radius: 20px;
    }

    img {
        border-radius: 10px;
        height: 48px;
    }

    .select-com {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

}

.form {
    margin: 50px auto 0 auto;

    .forget {
        ion-button {
            --color: var(--theme-light-blue);
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            --padding-end: 0;
        }
    }

    ion-checkbox {
        --size: 18px;
        --border-color: var(--ion-color-dark);
        --checkbox-background-checked: #fff;
        --border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--theme-grey);
        --checkmark-color: var(--ion-color-dark);
        --checkmark-width: 3px;
    }

    .no-account {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        ion-button {
            --color: var(--theme-light-blue);
            --padding-start: 2px;
            font-size: 12px;
        }
    }

}

.login-btn {
    ion-button {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        --background: var(--theme-light-green);
    }
}