/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

//@import "@ionic/angular/css/palettes/dark.always.css";
//@import "@ionic/angular/css/palettes/dark.class.css";
//@import '@ionic/angular/css/palettes/dark.system.css';

.roboto-font {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Flexbox Utility Classes */
/* Flex Container */
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}


/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

ion-input,
ion-select {
    --border-color: var(--theme-grey) !important;
    --highlight-color-focused: var(--theme-grey) !important;
    --highlight-color-invalid: var(--theme-grey) !important;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 16px;
    letter-spacing: 0.4px;
}

ion-select::part(label) {
    font-size: 16px;
}

.custom-select {
    position: relative;

    label {
        position: absolute;
        z-index: 10;
        font-size: 12px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }

    &:focus-within label {
        background-color: #fff;
        top: 0;
        transform: translateY(1) scale(0.85);
        color: #000;
        /* Example: change color to indicate active state */
        font-size: 12px;
        padding-left: 5px;
        z-index: 99999999999;
    }

    .selected {
        background-color: #fff;
        top: 0;
        transform: translateY(1) scale(0.85);
        color: #000;
        /* Example: change color to indicate active state */
        font-size: 12px;
        padding-left: 5px;
        z-index: 99999999999;
    }
}

.menu-popover {
    --width: 360px;
    --max-width: 600px;
    --background: #FAFAFA;

    ion-list {
        background: #FAFAFA;

        ion-item {

            --background: transparent;
            color: #333;

            ion-icon {
                font-size: 20px;
                color: #333;
            }

            ion-label {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }


    .section-header {
        font-size: 13px;
        font-weight: 600;
        color: #888;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    ion-item-divider {
        margin: 8px 0;
        --background: transparent;
        border-bottom: 1px solid #dcdcdc;
    }

    .highlighted {
        background-color: #1D1B201A;
        border-radius: 100px;


        ion-badge {
            background: transparent;
            font-weight: bold;
            border-radius: 10px;
            min-width: 24px;
            text-align: center;
        }
    }

}

.menu-icon {
    font-size: 32px;
    color: #000;
}

ion-button {
    --background-activated: var(--theme-light-blue) !important;
}