.green-bg {
    --background: #12B76A;
    --color: #fff;
    --min-height: unset;
}

ion-content {
    --background: url('../../../assets/imgs/bg-image.svg') center no-repeat;
}

.green {
    background-color: #12B76A;
}

.img-box {
    margin-top: 10px;
    margin-bottom: 25px;

    .upload {
        width: 93px;
        height: 93px;
        margin: 0 auto;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }

        h4 {
            /* David Thompson */
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

        }

        ion-icon {
            font-size: 30px;
            color: grey;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    .myp {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
    }
}

.arrow-icon {
    margin: 100px 0;
    color: #fff;

    .arrow-bg {
        margin: 0 auto;
        background-color: #fff;
        border-radius: 50%;
        width: 148px;
        height: 148px;
        border: 15px solid;

        ion-icon {
            font-size: 120px;
        }
    }

    .arrow-green {
        color: #12B76A;
        border-color: #12B76A;
    }
}

.check-icon {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

    img {
        width: 148px;
        height: 118px;
        object-fit: contain;
    }


}

.icon-zoom {
  display: inline-block;
  animation: zoomEffect 1s ease;
}

@keyframes zoomEffect {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* default states */
svg.animate {
    animation: zoomEffect 2s ease-in-out forwards;
}

@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    /* zoom in */
    100% {
        transform: scale(1);
    }

    /* back to normal */
}

svg path:nth-last-of-type(2) {
    opacity: 1;
}

svg path:nth-last-of-type(1) {
    opacity: 0;
}

svg path:nth-last-of-type(3) {
    transform-origin: center;
    transform-box: fill-box;
}

/* apply animations only when .animate is present */
svg.animate path:nth-last-of-type(2) {
    animation: hideSecond 2s linear forwards;
}

svg.animate path:nth-last-of-type(1) {
    animation: showLast 2s linear forwards;
}

svg.animate path:nth-last-of-type(3) {
    animation: flip 2s linear forwards;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
        fill: #13FF02;
    }

    49% {
        transform: rotateY(179deg);
        fill: #13FF02;
    }

    50% {
        transform: rotateY(180deg);
        fill: red;
    }

    100% {
        transform: rotateY(360deg);
        fill: red;
    }
}

@keyframes hideSecond {
    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes showLast {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}